{% extends "base.html" %}

{% block content %}
<!-- flex container -->
<div class="d-flex h-100">
    <!-- login box -->
    <div class="m-auto">
        <form action="/login" method="post">
            <div class="form-group">
                <label for="exampleInputAccount">Account</label>
                <input type="text" class="form-control" id="exampleInputAccount" name="InputAccount"
                       aria-describedby="accountHelp" placeholder="Enter Account" reqyured minlength="6">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword" name="InputPassword"
                       placeholder="Password" minlength="4">
            </div>
            <small id="AccountHelp" class="form-text text-muted" ><a class="text-danger">{{message}}</a></small>
            <a href="/register"> <h6> Register </h6> </a>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}